.sounds {
  flex-direction: row;
  justify-items: space-between;

  .btn {
    flex-grow: 1;
    margin: 0.5em;
  }
}

.sounds,
.players {
  flex-grow: 1;
}

.slideButtons {
  flex-direction: row;
  justify-content: space-between;

  .btn {
    padding: 1em 1.5em;
  }
}

.players {
  flex-direction: column;

  .player {
    flex-grow: 1;
    flex-direction: column;

    .name {
      flex-grow: 1;
      font-weight: 700;
      font-size: 200%;
    }

    .score {
      flex-direction: column;
      justify-content: center;
      width: 30%;
      color: #1050db;
      font-weight: 600;
    }

    .scoreActions {
      flex-direction: row;
      justify-content: space-between;

      .btn {
        padding: 2em 1.5em;
        min-width: 5em;
      }

      input {
        width: 3em;
      }
    }
  }
}
